# Book's Data Analysis (JSON)

* Importing Libraries

In [481]:
# Pandas
import pandas as pd

# Numpy
import numpy as np

# Regex
import regex as re

# MatplotLib
import matplotlib.pyplot as plt

* Converting JSON data into DataFrame

Source url : https://raw.githubusercontent.com/ozlerhakan/mongodb-json-files/master/datasets/books.json

In [482]:
df=pd.read_json("https://raw.githubusercontent.com/ozlerhakan/mongodb-json-files/master/datasets/books.json",lines=True)
df.head()

,_id,title,isbn,pageCount,publishedDate,thumbnailUrl,shortDescription,longDescription,status,authors,categories
0,1,Unlocking Android,1933988673,416,{'$date': '2009-04-01T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,Unlocking Android: A Developer's Guide provide...,Android is an open source mobile phone platfor...,PUBLISH,"[W. Frank Ableson, Charlie Collins, Robi Sen]","[Open Source, Mobile]"
1,2,"Android in Action, Second Edition",1935182722,592,{'$date': '2011-01-14T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,"Android in Action, Second Edition is a compreh...","When it comes to mobile apps, Android can do a...",PUBLISH,"[W. Frank Ableson, Robi Sen]",[Java]
2,3,Specification by Example,1617290084,0,{'$date': '2011-06-03T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,[Gojko Adzic],[Software Engineering]
3,4,Flex 3 in Action,1933988746,576,{'$date': '2009-02-02T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,New web applications require engaging user-fri...,PUBLISH,"[Tariq Ahmed with Jon Hirschi, Faisal Abid]",[Internet]
4,5,Flex 4 in Action,1935182420,600,{'$date': '2010-11-15T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,"Using Flex, you can create high-quality, effec...",PUBLISH,"[Tariq Ahmed, Dan Orlando, John C. Bland II, J...",[Internet]

# Data Exploration

* Columns

In [483]:
df.columns

Index(['_id', 'title', 'isbn', 'pageCount', 'publishedDate', 'thumbnailUrl',
       'shortDescription', 'longDescription', 'status', 'authors',
       'categories'],
      dtype='object')

* Total number of columns

In [484]:
df.shape[1]

11

* Stat's Information

In [485]:
df.describe()

# Except pageCount rest all the columns are objects or contains NaN values

         pageCount
count   431.000000
mean    289.259861
std     260.873349
min       0.000000
25%       0.000000
50%     350.000000
75%     475.000000
max    1101.000000



* NaN values in columns

In [486]:
df.isna().sum()

_id                   0
title                 0
isbn                  3
pageCount             0
publishedDate        78
thumbnailUrl         20
shortDescription    271
longDescription     168
status                0
authors               0
categories            0
dtype: int64

* Information of the data

In [487]:
df.info()

# Total no.of datapoints ar 431

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431 entries, 0 to 430
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               431 non-null    object
 1   title             431 non-null    object
 2   isbn              428 non-null    object
 3   pageCount         431 non-null    int64
 4   publishedDate     353 non-null    object
 5   thumbnailUrl      411 non-null    object
 6   shortDescription  160 non-null    object
 7   longDescription   263 non-null    object
 8   status            431 non-null    object
 9   authors           431 non-null    object
 10  categories        431 non-null    object
dtypes: int64(1), object(10)
memory usage: 37.2+ KB

# Data cleaning

In [488]:
df.head()

,_id,title,isbn,pageCount,publishedDate,thumbnailUrl,shortDescription,longDescription,status,authors,categories
0,1,Unlocking Android,1933988673,416,{'$date': '2009-04-01T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,Unlocking Android: A Developer's Guide provide...,Android is an open source mobile phone platfor...,PUBLISH,"[W. Frank Ableson, Charlie Collins, Robi Sen]","[Open Source, Mobile]"
1,2,"Android in Action, Second Edition",1935182722,592,{'$date': '2011-01-14T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,"Android in Action, Second Edition is a compreh...","When it comes to mobile apps, Android can do a...",PUBLISH,"[W. Frank Ableson, Robi Sen]",[Java]
2,3,Specification by Example,1617290084,0,{'$date': '2011-06-03T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,[Gojko Adzic],[Software Engineering]
3,4,Flex 3 in Action,1933988746,576,{'$date': '2009-02-02T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,New web applications require engaging user-fri...,PUBLISH,"[Tariq Ahmed with Jon Hirschi, Faisal Abid]",[Internet]
4,5,Flex 4 in Action,1935182420,600,{'$date': '2010-11-15T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,"Using Flex, you can create high-quality, effec...",PUBLISH,"[Tariq Ahmed, Dan Orlando, John C. Bland II, J...",[Internet]

In [489]:
df.tail()

,_id,title,isbn,pageCount,publishedDate,thumbnailUrl,shortDescription,longDescription,status,authors,categories
426,{'$oid': '53c2ae8528d75d572c06adb8'},DSLs in Action,1935182455,376,{'$date': '2010-12-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,DSLs in Action introduces the concepts and def...,"On any given day, a developer may encounter a ...",PUBLISH,[],[]
427,{'$oid': '53c2ae8528d75d572c06adb9'},Database Programming for Handheld Devices,1884777856,0,{'$date': '2000-07-01T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,[],[]
428,{'$oid': '53c2ae8528d75d572c06adba'},Jakarta Commons Online Bookshelf,1932394524,402,{'$date': '2005-03-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,Written for developers and architects with rea...,PUBLISH,[],[]
429,{'$oid': '53c2ae8528d75d572c06adbb'},Browsing with HttpClient,1932394524a-e,0,{'$date': '2005-03-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,Written for developers and architects with rea...,NaN,PUBLISH,[],[]
430,{'$oid': '53c2ae8528d75d572c06adbc'},Codec: Encoders and Decoders,1932394524j-e,0,{'$date': '2005-03-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,[],[]

* Cleaning ISBN

In [490]:
df.isbn

0         1933988673
1         1935182722
2         1617290084
3         1933988746
4         1935182420
           ...
426       1935182455
427       1884777856
428       1932394524
429    1932394524a-e
430    1932394524j-e
Name: isbn, Length: 431, dtype: object

In [491]:
clean_isbn=re.findall("\d+",str(df.isbn))
clean_isbn

['0',
 '1933988673',
 '1',
 '1935182722',
 '2',
 '1617290084',
 '3',
 '1933988746',
 '4',
 '1935182420',
 '426',
 '1935182455',
 '427',
 '1884777856',
 '428',
 '1932394524',
 '429',
 '1932394524',
 '430',
 '1932394524',
 '431']

In [492]:
# def clean_isbn_func(data):
#     clean_isbn=re.findall("\d+",str(data))
#     return clean_isbn
# df.isbn=df.isbn.apply(clean_isbn_func)

In [493]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431 entries, 0 to 430
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               431 non-null    object
 1   title             431 non-null    object
 2   isbn              428 non-null    object
 3   pageCount         431 non-null    int64
 4   publishedDate     353 non-null    object
 5   thumbnailUrl      411 non-null    object
 6   shortDescription  160 non-null    object
 7   longDescription   263 non-null    object
 8   status            431 non-null    object
 9   authors           431 non-null    object
 10  categories        431 non-null    object
dtypes: int64(1), object(10)
memory usage: 37.2+ KB

* Datapoints where the isbn is Null

In [494]:
df[df.isbn.isna()]['isbn']

21     NaN
98     NaN
358    NaN
Name: isbn, dtype: object

* As the column 'isbn' is no use for the analysis, let's drop it

In [495]:
df.drop('isbn',inplace=True,axis=1)

In [496]:
df.head()

,_id,title,pageCount,publishedDate,thumbnailUrl,shortDescription,longDescription,status,authors,categories
0,1,Unlocking Android,416,{'$date': '2009-04-01T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,Unlocking Android: A Developer's Guide provide...,Android is an open source mobile phone platfor...,PUBLISH,"[W. Frank Ableson, Charlie Collins, Robi Sen]","[Open Source, Mobile]"
1,2,"Android in Action, Second Edition",592,{'$date': '2011-01-14T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,"Android in Action, Second Edition is a compreh...","When it comes to mobile apps, Android can do a...",PUBLISH,"[W. Frank Ableson, Robi Sen]",[Java]
2,3,Specification by Example,0,{'$date': '2011-06-03T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,[Gojko Adzic],[Software Engineering]
3,4,Flex 3 in Action,576,{'$date': '2009-02-02T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,New web applications require engaging user-fri...,PUBLISH,"[Tariq Ahmed with Jon Hirschi, Faisal Abid]",[Internet]
4,5,Flex 4 in Action,600,{'$date': '2010-11-15T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,"Using Flex, you can create high-quality, effec...",PUBLISH,"[Tariq Ahmed, Dan Orlando, John C. Bland II, J...",[Internet]

In [497]:
df.tail()

,_id,title,pageCount,publishedDate,thumbnailUrl,shortDescription,longDescription,status,authors,categories
426,{'$oid': '53c2ae8528d75d572c06adb8'},DSLs in Action,376,{'$date': '2010-12-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,DSLs in Action introduces the concepts and def...,"On any given day, a developer may encounter a ...",PUBLISH,[],[]
427,{'$oid': '53c2ae8528d75d572c06adb9'},Database Programming for Handheld Devices,0,{'$date': '2000-07-01T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,[],[]
428,{'$oid': '53c2ae8528d75d572c06adba'},Jakarta Commons Online Bookshelf,402,{'$date': '2005-03-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,Written for developers and architects with rea...,PUBLISH,[],[]
429,{'$oid': '53c2ae8528d75d572c06adbb'},Browsing with HttpClient,0,{'$date': '2005-03-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,Written for developers and architects with rea...,NaN,PUBLISH,[],[]
430,{'$oid': '53c2ae8528d75d572c06adbc'},Codec: Encoders and Decoders,0,{'$date': '2005-03-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,[],[]

* Shows all the title's in the df

In [498]:
df.title.unique()

array(['Unlocking Android', 'Android in Action, Second Edition',
       'Specification by Example', 'Flex 3 in Action', 'Flex 4 in Action',
       'Collective Intelligence in Action', 'Zend Framework in Action',
       'Flex on Java', 'Griffon in Action', 'OSGi in Depth',
       'Flexible Rails', 'Hello! Flex 4', 'Coffeehouse',
       'Team Foundation Server 2008 in Action',
       'Brownfield Application Development in .NET', 'MongoDB in Action',
       'Distributed Application Development with PowerBuilder 6.0',
       'Jaguar Development with PowerBuilder 7', 'Taming Jaguar',
       '3D User Interfaces with Java 3D', 'Hibernate in Action',
       'Hibernate in Action (Chinese Edition)',
       'Java Persistence with Hibernate', 'JSTL in Action',
       'iBATIS in Action', 'Designing Hard Software',
       'Hibernate Search in Action', 'jQuery in Action',
       'jQuery in Action, Second Edition',
       'Building Secure and Reliable Network Applications',
       'Ruby for Rails', 'The Well-Grounded Rubyist',
       "Website Owner's Manual", 'ASP.NET 4.0 in Practice',
       'Hello! Python', "PFC Programmer's Reference Manual",
       'Graphics File Formats', 'Visual Object Oriented Programming',
       'iOS in Practice', 'iPhone in Action', 'Silverlight 2 in Action',
       'The Quick Python Book, Second Edition',
       'Internet and Intranet Applications with PowerBuilder 6',
       'Practical Methods for Your Year 2000 Problem', 'Mobile Agents',
       'Spring Dynamic Modules in Action',
       'SQL Server 2008 Administration in Action', 'Android in Practice',
       'Object Oriented Perl', 'GWT in Practice', 'Ajax in Action',
       'Ajax in Practice', 'Prototype and Scriptaculous in Action',
       'POJOs in Action', 'Data Munging with Perl', 'Hello! HTML5 & CSS3',
       'Seam in Action', 'Wicket in Action', 'Open Source SOA',
       'Struts 2 in Action',
       'Essential Guide to Peoplesoft Development and Customization',
       '.NET Multithreading', 'SCWCD Exam Study Kit Second Edition',
       'Spring Roo in Action', 'SOA Governance in Action',
       'RSS and Atom in Action',
       'LDAP Programming, Management and Integration', 'Mule in Action',
       'Java Foundation Classes', 'Managing Components with Modeler',
       'Command-line Processing with CLI',
       'Understanding and Using Chain',
       'Working with the Logging and Discovery Components',
       'Uploading files with FileUpload',
       'Handling Protocols with the Net Component',
       'XML Parsing with Digester',
       'JXPath and Betwixt: Working with XML',
       'Validating Data with Validator',
       'Enhancing Java Core Libraries with Collections',
       'Enhancing Java Core Libraries with BeanUtils and Lang',
       'Pool and DBCP: Creating and Using Object Pools',
       'Python and Tkinter Programming', 'Microsoft.NET for Programmers',
       'Grails in Action', 'Up to Speed with Swing, Second Edition',
       'OSGi in Action', 'GWT in Action', 'The Quick Python Book',
       "SharePoint 2010 Site Owner's Manual", 'Java Development with Ant',
       'Lucene in Action', 'Lucene in Action, Second Edition',
       'PowerBuilder 6.0 Questions & Answers',
       'The Awesome Power of PowerJ', 'The Awesome Power of Power++',
       'Azure in Action', 'Distributed Agile in Action',
       'Metaprogramming in .NET', 'Portlets and Apache Portals',
       'Code Generation in Action', 'Illustrated Guide to HTTP',
       'Agile ALM', 'Java Network Programming, Second Edition',
       'Struts in Action', 'Camel in Action', 'Taming Text',
       'JBoss in Action', 'Gnuplot in Action',
       'Extending and Embedding Perl', 'iOS 4 in Action',
       'Elements of Programming with Perl',
       'Learn Windows PowerShell in a Month of Lunches', 'R in Action',
       'SOA Security', 'Rails 3 in Action',
       'Continuous Integration in .NET', 'Technology Paradise Lost',
       'Kermit 95+', 'Laszlo in Action', 'Groovy in Action',
       'Groovy in Action, Second Edition',
       'Object Technology Centers of Excellence', 'Test Driven',
       'Effective Unit Testing', 'Making Java Groovy',
       'The Awesome Power of Direct3D/DirectX',
       'Practical Software Requirements', 'NHibernate in Action',
       'Microsoft Reporting Services in Action', 'AspectJ in Action',
       'AspectJ in Action, Second Edition', 'Hadoop in Action',
       'SQR in PeopleSoft and Other Applications',
       'SQR in PeopleSoft and Other Applications, Second Edition',
       'F# in Action', 'Tuscany SCA in Action',
       'Client/Server Yellow Pages',
       'Object Oriented Application Frameworks', 'Tapestry in Action',
       'WebWork in Action', 'MacRuby in Action',
       'Erlang and OTP in Action',
       "SharePoint 2007 Developer's Guide to Business Data Catalog",
       'Doing IT Right', 'Adobe AIR in Action', 'Ant in Action',
       'Restlet in Action', 'iText in Action',
       'iText in Action, Second Edition', 'Power-3D',
       'SNA and TCP/IP Enterprise Networking', 'Subversion in Action',
       'Minimal Perl', 'Distributed Programming with Java',
       'Comprehensive Networking Glossary and Acronym Guide',
       'JavaServer Faces in Action', 'LINQ in Action', 'Internet BBSs',
       'Algorithms of the Intelligent Web', 'JUnit in Action',
       'Tika in Action', 'Ruby in Practice', 'Inside LotusScript',
       'Maximum MIDI', 'Planning and Managing ATM Networks',
       'Client/Server Applications on ATM Networks', 'JavaFX in Action',
       'Entity Framework 4 in Action', 'ASP.NET 2.0 Web Parts in Action',
       'Sass and Compass in Action', 'Core OWL 5.0', 'Advanced OWL 5.0',
       'Server-Based Java Programming', 'SQL Server MVP Deep Dives',
       'PostGIS in Action', 'Programming Mac OS X',
       'The Art of Unit Testing', 'Mahout in Action',
       'ASP.NET MVC in Action', 'ASP.NET MVC 2 in Action',
       'ASP.NET MVC 4 in Action', 'EJB 3 in Action',
       'EJB 3 in Action, Second Edition',
       "Explorer's Guide to the Semantic Web", 'Practical LotusScript',
       'Domino Development with Java', 'Windows PowerShell in Action',
       'Windows PowerShell in Action, Second Edition',
       'Silverlight 4 in Action, Revised Edition',
       'Silverlight 5 in Action', 'Hibernate Quickly', 'Generative Art',
       'Windows Phone 7 in Action', 'Lift in Action',
       'Web Development with Apache and Perl',
       'Real-World Functional Programming', 'Machine Learning in Action',
       'Dependency Injection', 'Understanding Enterprise SOA',
       'Open-Source ESBs in Action', 'Activiti in Action',
       'DSLs in Boo: Domain-Specific Languages in .NET', 'JUnit Recipes',
       'wxPython in Action', 'Clojure in Action', 'Scala in Action',
       'Working with Objects', 'PHP in Action',
       'Secrets of the JavaScript Ninja', 'Microsoft Office Essentials',
       'Swing', 'Swing Second Edition', 'The Awesome Power of Java Beans',
       'Personal Videoconferencing', 'The Cloud at Your Service',
       'Implementing Elliptic Curve Cryptography', 'SOA Patterns',
       'Hello World!', 'SCBCD Exam Study Kit', 'Portlets in Action',
       'SWT/JFace in Action', 'OpenCL in Action',
       'Multiprotocol over ATM', 'Dependency Injection in .NET',
       'Java 3D Programming', 'Liferay in Action', 'JSP Tag Libraries',
       'Instant Messaging in Java',
       'Java Applets and Channels Without Programming',
       'PowerShell in Practice', 'PowerShell and WMI',
       'Making Sense of Java', 'C++/CLI in Action', 'C# in Depth',
       'C# in Depth, Second Edition', 'Magical A-Life Avatars',
       'Becoming Agile', 'ActiveMQ in Action',
       'Implementing PeopleSoft Financials', 'SQL Server DMVs in Action',
       'Scala in Depth', 'JMX in Action', 'EJB Cookbook',
       'GWT in Action, Second Edition', 'JUnit in Action, Second Edition',
       'Bitter Java', 'Bitter EJB', 'Spring Batch in Action',
       'JDK 1.4 Tutorial', 'iPhone and iPad in Action',
       'SQL Server 2005 Reporting Services in Action',
       'Ten Years of UserFriendly.Org', 'Graphics Programming with Perl',
       'RabbitMQ in Action', 'XDoclet in Action', 'Spring in Action',
       'Spring in Action, Second Edition',
       'Spring in Action, Third Edition', 'Spring in Practice',
       'Java 2 Micro Edition', 'SharePoint 2010 Workflows in Action',
       'SharePoint 2010 Web Parts in Action', 'C++ Concurrency in Action',
       'Java Servlets by Example', 'XML Programming with VB and ASP',
       'Oracle8i Database Administration', 'The Engaging Web',
       'Enterprise OSGi In Action', 'Ext JS in Action, Second Edition',
       'Android in Action, Third Edition', 'Arduino in Action',
       'Node.js in Action', 'Third-Party JavaScript ',
       'Multimedia Computing', 'Web Development with JavaServer Pages',
       'Up to Speed with Swing', "Manager's Guide to Open Source",
       'Programming Web Services with Java',
       'TCP/IP Programming for OS/2',
       'Implementing SAP R/3, Second Edition', 'Implementing SAP R/3',
       'Using C-Kermit: Communication Software', 'SCWCD Exam Study Kit',
       'Unit Testing in C++', 'Big Data', 'CoffeeScript in Action',
       'SQL Server MVP Deep Dives, Volume 2', 'HTML5 in Action',
       'Java Persistence with Hibernate, Second Edition',
       'Hadoop in Practice', 'HBase in Action', 'Flex Mobile in Action',
       'HTML5 for .NET Developers', '50 Android Hacks',
       'PowerShell in Depth', 'Augmented Reality Revealed',
       'Building Well-Structured JavaScript Applications', 'Linked Data',
       'Mule in Action, Second Edition', 'Single Page Web Applications',
       'The Art of Unit Testing, Second Edition', 'Play for Java',
       'Hello World! Second Edition', 'Dart in Action', 'Redis in Action',
       'Using the TI-83 Plus/TI-84 Plus', 'Neo4j in Action',
       'Programming the TI-83 Plus/TI-84 Plus',
       'Functional Programming in Scala', 'Play for Scala',
       'Node.js in Practice', 'SonarQube in Action',
       'Windows Store App Development: C# and XAML',
       'Learn Windows IIS in a Month of Lunches', 'Mondrian in Action',
       'RabbitMQ in Depth', 'Akka in Action', 'Extending jQuery',
       'OCA Java SE 7 Programmer I Certification Guide',
       'Kanban in Action', 'Solr in Action', 'Making Sense of NoSQL',
       'Grails in Action, Second Edition', 'Rails 4 in Action',
       'Learn Windows PowerShell in a Month of Lunches, Second Edition',
       'AOP in .NET', 'Learn PowerShell Toolmaking in a Month of Lunches',
       'CMIS and Apache Chemistry in Action',
       'Action Guide (aka VB .NET)',
       'Learn Active Directory Management in a Month of Lunches',
       'Spring in Action, Fourth Edition', 'The Mikado Method',
       'The Responsive Web', 'Fast ASP.NET Websites', 'SBT in Action',
       'PowerShell Deep Dives', 'Gradle in Action', 'Scalatra in Action',
       'AngularJS in Action', 'Software Development Metrics',
       'F# Deep Dives', 'C# in Depth, Third Edition',
       'PostGIS in Action, Second Edition', 'R in Action, Second Edition',
       'The Joy of Clojure, Second Edition', 'iOS 7 in Action',
       'Hello App Inventor!', 'Ember.js in Action', 'Netty in Action',
       'RavenDB in Action',
       'OCP Java SE 7 Programmer II Certification Guide',
       'Backbone.js in Action', 'Clojure in Action, Second Edition',
       'Practical Data Science with R',
       'Secrets of the JavaScript Ninja pBook upgrade',
       'ArcGIS Web Development', 'Elasticsearch in Action',
       'Learn SCCM 2012 in a Month of Lunches',
       'Programming for Musicians and Digital Artists', 'BDD in Action',
       'Windows Phone 8 in Action', 'Titanium Alloy in Action',
       'Giraph in Action', 'The Well-Grounded Rubyist, Second Edition',
       'Go in Action', "The Programmer's Guide to Apache Thrift ",
       'Grokking Functional Programming', 'CORS in Action',
       'Reactive Design Patterns', 'Storm Applied',
       'Real-World Machine Learning', 'jQuery UI in Action',
       'Web Components in Action', 'JavaScript Application Design',
       'Git in Practice', 'Impala in Action', 'Java 8 in Action',
       'Elixir in Action', 'MongoDB in Action, Second Edition',
       'Getting MEAN with Mongo, Express, Angular, and Node',
       'jQuery in Action, Third Edition', 'D3.js in Action',
       'Learn SQL Server Administration in a Month of Lunches',
       'Geoprocessing with Python', 'Barcodes with iOS', 'Chef in Action',
       'Hadoop in Practice, Second Edition', 'Oculus Rift in Action',
       'OpenStack in Action', 'PowerShell in Depth, Second Edition',
       'Practical Probabilistic Programming', 'Unity in Action',
       'Express.js in Action', 'Learn Git in a Month of Lunches',
       'Understanding SPAs', 'XSLT Quickly',
       'Windows Forms Programming with C#', 'Windows Forms in Action',
       'Event Processing in Action', 'The Well-Grounded Java Developer',
       'Objective-C Fundamentals', 'ADO.NET Programming',
       'WPF in Action with Visual Studio 2008',
       'Location-Aware Applications',
       'Web Development with JavaServer Pages, Second Edition',
       'IntelliJ IDEA in Action', 'Spring Integration in Action',
       'The Joy of Clojure', 'Dynamic WAP Application Development',
       'IronPython in Action', 'Art of Java Web Development',
       'Java Reflection in Action', 'Programming Windows Server 2003',
       'Struts Recipes', 'Hello! iOS Development', 'Jess in Action',
       'Remote LAN Access', 'J2EE and XML Development',
       'Eclipse in Action', 'ASP.NET AJAX in Action', 'Ext JS in Action',
       'Sencha Touch in Action', 'DSLs in Action',
       'Database Programming for Handheld Devices',
       'Jakarta Commons Online Bookshelf', 'Browsing with HttpClient',
       'Codec: Encoders and Decoders'], dtype=object)

In [499]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431 entries, 0 to 430
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               431 non-null    object
 1   title             431 non-null    object
 2   pageCount         431 non-null    int64
 3   publishedDate     353 non-null    object
 4   thumbnailUrl      411 non-null    object
 5   shortDescription  160 non-null    object
 6   longDescription   263 non-null    object
 7   status            431 non-null    object
 8   authors           431 non-null    object
 9   categories        431 non-null    object
dtypes: int64(1), object(9)
memory usage: 33.8+ KB

* The duplicated title are

In [500]:
df[df.title.duplicated()]

,_id,title,pageCount,publishedDate,thumbnailUrl,shortDescription,longDescription,status,authors,categories
113,165,Android in Practice,0,NaN,https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,MEAP,"[Matthias Kaeppler, Michael D. Galpin, Charlie...",[Mobile Technology]
175,231,SQL Server MVP Deep Dives,848,{'$date': '2009-11-15T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,SQL Server MVP Deep Dives is organized into fi...,This is no ordinary SQL Server book. In SQL Se...,PUBLISH,[Contributions from 53 SQL Server MVPs; Edited...,[Microsoft .NET]
176,232,SQL Server MVP Deep Dives,848,{'$date': '2009-11-01T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,"[Paul Nielsen, Kalen Delaney, Greg Low, Adam M...",[Microsoft .NET]
325,656,Jaguar Development with PowerBuilder 7,0,{'$date': '1999-08-09T00:00:00.000-0700'},NaN,NaN,NaN,PUBLISH,[MIchael Barlotta],[]

In [501]:
df[df['title']=="Android in Practice"]

,_id,title,pageCount,publishedDate,thumbnailUrl,shortDescription,longDescription,status,authors,categories
47,54,Android in Practice,500,{'$date': '2011-09-30T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,Android in Practice is treasure trove of Andro...,"Android, Google's platform for mobile applicat...",PUBLISH,"[Charlie Collins, Michael D. Galpin, , Matthia...",[Mobile Technology]
113,165,Android in Practice,0,NaN,https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,MEAP,"[Matthias Kaeppler, Michael D. Galpin, Charlie...",[Mobile Technology]

In [502]:
df[df['title']=="SQL Server MVP Deep Dives"]

,_id,title,pageCount,publishedDate,thumbnailUrl,shortDescription,longDescription,status,authors,categories
174,230,SQL Server MVP Deep Dives,848,{'$date': '2009-11-01T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,SQL Server MVP Deep Dives is organized into fi...,This is no ordinary SQL Server book. In SQL Se...,PUBLISH,"[Contributions from 53 SQL Server MVPs, Edited...",[Microsoft .NET]
175,231,SQL Server MVP Deep Dives,848,{'$date': '2009-11-15T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,SQL Server MVP Deep Dives is organized into fi...,This is no ordinary SQL Server book. In SQL Se...,PUBLISH,[Contributions from 53 SQL Server MVPs; Edited...,[Microsoft .NET]
176,232,SQL Server MVP Deep Dives,848,{'$date': '2009-11-01T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,"[Paul Nielsen, Kalen Delaney, Greg Low, Adam M...",[Microsoft .NET]

In [503]:
df[df['title']=="Jaguar Development with PowerBuilder 7"]

,_id,title,pageCount,publishedDate,thumbnailUrl,shortDescription,longDescription,status,authors,categories
17,19,Jaguar Development with PowerBuilder 7,550,{'$date': '1999-08-01T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,Jaguar Development with PowerBuilder 7 is the ...,Jaguar Development with PowerBuilder 7 is the ...,PUBLISH,[Michael Barlotta],"[PowerBuilder, Client-Server]"
325,656,Jaguar Development with PowerBuilder 7,0,{'$date': '1999-08-09T00:00:00.000-0700'},NaN,NaN,NaN,PUBLISH,[MIchael Barlotta],[]

* Drop the duplicated books

In [504]:
df.drop_duplicates('title', inplace=True,ignore_index=True)

In [505]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427 entries, 0 to 426
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               427 non-null    object
 1   title             427 non-null    object
 2   pageCount         427 non-null    int64
 3   publishedDate     350 non-null    object
 4   thumbnailUrl      408 non-null    object
 5   shortDescription  159 non-null    object
 6   longDescription   262 non-null    object
 7   status            427 non-null    object
 8   authors           427 non-null    object
 9   categories        427 non-null    object
dtypes: int64(1), object(9)
memory usage: 33.5+ KB

In [506]:
df

,_id,title,pageCount,publishedDate,thumbnailUrl,shortDescription,longDescription,status,authors,categories
0,1,Unlocking Android,416,{'$date': '2009-04-01T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,Unlocking Android: A Developer's Guide provide...,Android is an open source mobile phone platfor...,PUBLISH,"[W. Frank Ableson, Charlie Collins, Robi Sen]","[Open Source, Mobile]"
1,2,"Android in Action, Second Edition",592,{'$date': '2011-01-14T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,"Android in Action, Second Edition is a compreh...","When it comes to mobile apps, Android can do a...",PUBLISH,"[W. Frank Ableson, Robi Sen]",[Java]
2,3,Specification by Example,0,{'$date': '2011-06-03T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,[Gojko Adzic],[Software Engineering]
3,4,Flex 3 in Action,576,{'$date': '2009-02-02T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,New web applications require engaging user-fri...,PUBLISH,"[Tariq Ahmed with Jon Hirschi, Faisal Abid]",[Internet]
4,5,Flex 4 in Action,600,{'$date': '2010-11-15T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,"Using Flex, you can create high-quality, effec...",PUBLISH,"[Tariq Ahmed, Dan Orlando, John C. Bland II, J...",[Internet]
...,...,...,...,...,...,...,...,...,...,...
422,{'$oid': '53c2ae8528d75d572c06adb8'},DSLs in Action,376,{'$date': '2010-12-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,DSLs in Action introduces the concepts and def...,"On any given day, a developer may encounter a ...",PUBLISH,[],[]
423,{'$oid': '53c2ae8528d75d572c06adb9'},Database Programming for Handheld Devices,0,{'$date': '2000-07-01T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,[],[]
424,{'$oid': '53c2ae8528d75d572c06adba'},Jakarta Commons Online Bookshelf,402,{'$date': '2005-03-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,Written for developers and architects with rea...,PUBLISH,[],[]
425,{'$oid': '53c2ae8528d75d572c06adbb'},Browsing with HttpClient,0,{'$date': '2005-03-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,Written for developers and architects with rea...,NaN,PUBLISH,[],[]
426,{'$oid': '53c2ae8528d75d572c06adbc'},Codec: Encoders and Decoders,0,{'$date': '2005-03-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,[],[]

* Cleaning _id

In [507]:
df['_id']=[i for i in range(1,428)]
df['_id']=np.arange(1,428)

In [508]:
df.head()

,_id,title,pageCount,publishedDate,thumbnailUrl,shortDescription,longDescription,status,authors,categories
0,1,Unlocking Android,416,{'$date': '2009-04-01T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,Unlocking Android: A Developer's Guide provide...,Android is an open source mobile phone platfor...,PUBLISH,"[W. Frank Ableson, Charlie Collins, Robi Sen]","[Open Source, Mobile]"
1,2,"Android in Action, Second Edition",592,{'$date': '2011-01-14T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,"Android in Action, Second Edition is a compreh...","When it comes to mobile apps, Android can do a...",PUBLISH,"[W. Frank Ableson, Robi Sen]",[Java]
2,3,Specification by Example,0,{'$date': '2011-06-03T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,[Gojko Adzic],[Software Engineering]
3,4,Flex 3 in Action,576,{'$date': '2009-02-02T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,New web applications require engaging user-fri...,PUBLISH,"[Tariq Ahmed with Jon Hirschi, Faisal Abid]",[Internet]
4,5,Flex 4 in Action,600,{'$date': '2010-11-15T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,"Using Flex, you can create high-quality, effec...",PUBLISH,"[Tariq Ahmed, Dan Orlando, John C. Bland II, J...",[Internet]

In [509]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427 entries, 0 to 426
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               427 non-null    int32
 1   title             427 non-null    object
 2   pageCount         427 non-null    int64
 3   publishedDate     350 non-null    object
 4   thumbnailUrl      408 non-null    object
 5   shortDescription  159 non-null    object
 6   longDescription   262 non-null    object
 7   status            427 non-null    object
 8   authors           427 non-null    object
 9   categories        427 non-null    object
dtypes: int32(1), int64(1), object(8)
memory usage: 31.8+ KB

* Reindexing

In [510]:
# df=df.reindex([i for i in range(0,427)])

## It's malfunctioning

In [511]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427 entries, 0 to 426
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               427 non-null    int32
 1   title             427 non-null    object
 2   pageCount         427 non-null    int64
 3   publishedDate     350 non-null    object
 4   thumbnailUrl      408 non-null    object
 5   shortDescription  159 non-null    object
 6   longDescription   262 non-null    object
 7   status            427 non-null    object
 8   authors           427 non-null    object
 9   categories        427 non-null    object
dtypes: int32(1), int64(1), object(8)
memory usage: 31.8+ KB

* Replacing the pageCount column's NaN values with the mean of the pageCount

In [512]:
df['pageCount']=df['pageCount'].fillna(df['pageCount'].mean())

In [513]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427 entries, 0 to 426
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               427 non-null    int32
 1   title             427 non-null    object
 2   pageCount         427 non-null    int64
 3   publishedDate     350 non-null    object
 4   thumbnailUrl      408 non-null    object
 5   shortDescription  159 non-null    object
 6   longDescription   262 non-null    object
 7   status            427 non-null    object
 8   authors           427 non-null    object
 9   categories        427 non-null    object
dtypes: int32(1), int64(1), object(8)
memory usage: 31.8+ KB

* Typecasing pageCount

In [514]:
df['pageCount']=df['pageCount'].astype(int)

In [515]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427 entries, 0 to 426
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               427 non-null    int32
 1   title             427 non-null    object
 2   pageCount         427 non-null    int32
 3   publishedDate     350 non-null    object
 4   thumbnailUrl      408 non-null    object
 5   shortDescription  159 non-null    object
 6   longDescription   262 non-null    object
 7   status            427 non-null    object
 8   authors           427 non-null    object
 9   categories        427 non-null    object
dtypes: int32(2), object(8)
memory usage: 30.1+ KB

In [516]:
df.tail()

,_id,title,pageCount,publishedDate,thumbnailUrl,shortDescription,longDescription,status,authors,categories
422,423,DSLs in Action,376,{'$date': '2010-12-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,DSLs in Action introduces the concepts and def...,"On any given day, a developer may encounter a ...",PUBLISH,[],[]
423,424,Database Programming for Handheld Devices,0,{'$date': '2000-07-01T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,[],[]
424,425,Jakarta Commons Online Bookshelf,402,{'$date': '2005-03-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,Written for developers and architects with rea...,PUBLISH,[],[]
425,426,Browsing with HttpClient,0,{'$date': '2005-03-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,Written for developers and architects with rea...,NaN,PUBLISH,[],[]
426,427,Codec: Encoders and Decoders,0,{'$date': '2005-03-01T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,[],[]

In [517]:
df['pageCount'].isna().sum()

0

* Creating a new df copy to work on it

In [518]:
df_copy=df.copy()

* Cleaning publishedDate

In [519]:
df_copy[df_copy.publishedDate.isnull()]["publishedDate"]

# 96 120 134 234 .. -NaN valued columns

96     NaN
120    NaN
134    NaN
234    NaN
266    NaN
      ...
390    NaN
391    NaN
392    NaN
393    NaN
394    NaN
Name: publishedDate, Length: 77, dtype: object

In [520]:
# def clean_date_func(data):
#     clean_date=re.sub("^{.*:.'|T.*","",str(data))
#     return clean_date
# df.publishedDate=df.publishedDate.apply(clean_date_func)

In [521]:
df_copy.publishedDate[96]

nan

* Adding a new column with the publishedYear

In [522]:
df_copy['publishedYear']=df_copy['publishedDate']
# df_copy.replace('publishedDate','publishedYear')

* Cleaning publishedYear column

In [523]:
clean_year=re.sub("^{.*:.'|-.*","",str(df_copy.publishedYear[0]))
clean_year

'2009'

* Updating the cleaned value to the df

In [524]:
def clean_year_func(data):
    clean_year=re.sub("^{.*:.'|-.*","",str(data))
    return clean_year
df_copy.publishedYear=df_copy.publishedYear.apply(clean_year_func)

* Making the NaN values equal to '0'

In [525]:
for i in range(len(df_copy.publishedYear)):
    if(df_copy.publishedYear[i]=='nan'):
        df_copy.publishedYear[i]='0'

C:\Users\karan\AppData\Local\Temp/ipykernel_12352/4287771506.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy.publishedYear[i]='0'

* Checking the updated NaN value

In [526]:
df_copy.publishedYear[96]

'0'

* Checking the number of NaN values

In [527]:
df_copy.publishedYear.isna().sum()

0

* Typecasting publishedYear into float

In [528]:
df_copy.publishedYear=df_copy.publishedYear.astype(float)
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427 entries, 0 to 426
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               427 non-null    int32
 1   title             427 non-null    object
 2   pageCount         427 non-null    int32
 3   publishedDate     350 non-null    object
 4   thumbnailUrl      408 non-null    object
 5   shortDescription  159 non-null    object
 6   longDescription   262 non-null    object
 7   status            427 non-null    object
 8   authors           427 non-null    object
 9   categories        427 non-null    object
 10  publishedYear     427 non-null    float64
dtypes: float64(1), int32(2), object(8)
memory usage: 33.5+ KB

* Making the nan values equal to mean of the column publishedYear

In [529]:
for i in range(len(df_copy.publishedYear)):
    if(df_copy.publishedYear[i]==0):
        df_copy.publishedYear[i]=round(df_copy['publishedYear'].mean(),0)
        # print(df.publishedYear[96])

C:\Users\karan\AppData\Local\Temp/ipykernel_12352/2851339471.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy.publishedYear[i]=round(df_copy['publishedYear'].mean(),0)

* Typecasting the publishedYear into int

In [530]:
df_copy.publishedYear=df_copy.publishedYear.astype(int)

In [531]:
df_copy.publishedYear[96]

1645

In [532]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427 entries, 0 to 426
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               427 non-null    int32
 1   title             427 non-null    object
 2   pageCount         427 non-null    int32
 3   publishedDate     350 non-null    object
 4   thumbnailUrl      408 non-null    object
 5   shortDescription  159 non-null    object
 6   longDescription   262 non-null    object
 7   status            427 non-null    object
 8   authors           427 non-null    object
 9   categories        427 non-null    object
 10  publishedYear     427 non-null    int32
dtypes: int32(3), object(8)
memory usage: 31.8+ KB

* Manipulating the values of the column publishedDate

In [533]:
df_copy.publishedDate=df_copy.publishedYear

* Dropping the publishedYear column as it is a repetition

In [534]:
df_copy.drop('publishedYear',axis=1,inplace=True)

* Renaming the publishedDate column to publishedYear

In [535]:
df_copy.rename({'publishedDate':'publishedYear'},axis=1, inplace=True)

In [536]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427 entries, 0 to 426
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               427 non-null    int32
 1   title             427 non-null    object
 2   pageCount         427 non-null    int32
 3   publishedYear     427 non-null    int32
 4   thumbnailUrl      408 non-null    object
 5   shortDescription  159 non-null    object
 6   longDescription   262 non-null    object
 7   status            427 non-null    object
 8   authors           427 non-null    object
 9   categories        427 non-null    object
dtypes: int32(3), object(7)
memory usage: 28.5+ KB