# Book's Data Analysis (JSON)

* Importing Libraries

In [2]:
# Pandas
import pandas as pd

# Numpy
import numpy as np

# Regex
import regex as re

# MatplotLib
import matplotlib.pyplot as plt

* Converting JSON data into DataFrame

Source url : https://raw.githubusercontent.com/ozlerhakan/mongodb-json-files/master/datasets/books.json

In [6]:
df=pd.read_json("https://raw.githubusercontent.com/ozlerhakan/mongodb-json-files/master/datasets/books.json",lines=True)
df.head()

,_id,title,isbn,pageCount,publishedDate,thumbnailUrl,shortDescription,longDescription,status,authors,categories
0,1,Unlocking Android,1933988673,416,{'$date': '2009-04-01T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,Unlocking Android: A Developer's Guide provide...,Android is an open source mobile phone platfor...,PUBLISH,"[W. Frank Ableson, Charlie Collins, Robi Sen]","[Open Source, Mobile]"
1,2,"Android in Action, Second Edition",1935182722,592,{'$date': '2011-01-14T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,"Android in Action, Second Edition is a compreh...","When it comes to mobile apps, Android can do a...",PUBLISH,"[W. Frank Ableson, Robi Sen]",[Java]
2,3,Specification by Example,1617290084,0,{'$date': '2011-06-03T00:00:00.000-0700'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,NaN,PUBLISH,[Gojko Adzic],[Software Engineering]
3,4,Flex 3 in Action,1933988746,576,{'$date': '2009-02-02T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,New web applications require engaging user-fri...,PUBLISH,"[Tariq Ahmed with Jon Hirschi, Faisal Abid]",[Internet]
4,5,Flex 4 in Action,1935182420,600,{'$date': '2010-11-15T00:00:00.000-0800'},https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ....,NaN,"Using Flex, you can create high-quality, effec...",PUBLISH,"[Tariq Ahmed, Dan Orlando, John C. Bland II, J...",[Internet]

* Columns

In [9]:
df.columns

Index(['_id', 'title', 'isbn', 'pageCount', 'publishedDate', 'thumbnailUrl',
       'shortDescription', 'longDescription', 'status', 'authors',
       'categories'],
      dtype='object')

* Total number of columns

In [11]:
df.shape[1]

11

* Stat's Information

In [14]:
df.describe()

# Except pageCount rest all the columns are objects or contains NaN values

         pageCount
count   431.000000
mean    289.259861
std     260.873349
min       0.000000
25%       0.000000
50%     350.000000
75%     475.000000
max    1101.000000



* NaN values in columns

In [17]:
df.isna().sum()

_id                   0
title                 0
isbn                  3
pageCount             0
publishedDate        78
thumbnailUrl         20
shortDescription    271
longDescription     168
status                0
authors               0
categories            0
dtype: int64

* Information of the data

In [19]:
df.info()

# Total no.of datapoints ar 431

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431 entries, 0 to 430
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               431 non-null    object
 1   title             431 non-null    object
 2   isbn              428 non-null    object
 3   pageCount         431 non-null    int64
 4   publishedDate     353 non-null    object
 5   thumbnailUrl      411 non-null    object
 6   shortDescription  160 non-null    object
 7   longDescription   263 non-null    object
 8   status            431 non-null    object
 9   authors           431 non-null    object
 10  categories        431 non-null    object
dtypes: int64(1), object(10)
memory usage: 37.2+ KB